<p>Before ng-template</p>
<div *ngTemplateOutlet="task; context: { $implicit: 1, totalCount: 6, finishCount: 3 }"></div>
<br>
<div *ngTemplateOutlet="task; context: { $implicit: 2, totalCount: 2, finishCount: 1 }"></div>
<p>123</p>
<p>After ng-template</p>
<h3>ngIf</h3>
<div *ngIf="tasks.length >= 1; then list; else empty"></div>

<app-page-container>
    <h3>app-page-container</h3>
    <h3 #title>代辦事項清單</h3>
    <div class="page-button">
        <button type="button" (click)="onReset()">重設</button>
        <button #button>新增</button>
        <button #button>查詢</button>
    </div>
    <div *ngIf="tasks.length >= 1">
        <app-task 
        *ngFor="let task of tasks; let odd = odd; trackBy: trackById"
        [class.odd]="odd"
        [task]="task"
        (stateChange)="onSetState(task, $event)"
        >
        </app-task>
    </div>
    <ng-template #empty>
        <div class="data-empty">無代辦事項</div>
    </ng-template>
    <div class="footer">
        <div>代辦事項總數: {{ totalCount }}</div>
        <div>已完成個數: {{ finishCount }}</div>
        <div>剩下代辦事項個數: {{ totalCount - finishCount }}</div>
    </div>
</app-page-container>


<ng-template #task let-id let-totalCount="totalCount" let-finishCount="finishCount">
    <app-task 
    class="odd"
    [task]="task_1"
    (stateChange)="onSetState(task_1, $event)"
        >
    </app-task>
    <hr>
    <div>代辦事項總數: {{ totalCount }}</div>
    <div>已完成個數: {{ finishCount }}</div>
    <div>剩下代辦事項個數: {{ totalCount - finishCount }}</div>
</ng-template>

<ng-template #list>
    <app-task 
        *ngFor="let task of tasks; let odd = odd; trackBy: trackById"
        [class.odd]="odd"
        [task]="task"
        (stateChange)="onSetState(task, $event)"
        >
        </app-task>
</ng-template>

<ng-template #empty>
    <div class="data-empty">無代辦事項</div>
</ng-template>