<p>Before ng-template</p>
<div *ngTemplateOutlet="task; context: { $implicit: 1, totalCount: 6, finishCount: 3 }"></div>
<br>
<div *ngTemplateOutlet="task; context: { $implicit: 2, totalCount: 2, finishCount: 1 }"></div>
<p>123</p>
<p>After ng-template</p>
<h3>ngIf</h3>
<div *ngIf="tasks.length >= 1; then list; else empty"></div>
<h3>Service</h3>


<app-page-container>
    <h3>app-page-container</h3>
    <h3 #title>代辦事項清單</h3>
    <div page-button class="page-button">
        <div>
            <span class="user">使用者: {{userId}}</span>
            <ng-container *appLimitCase="'admin'">
                <button>新增</button>
            </ng-container>
            <button type="button" appBlackButton>查詢</button>
        </div>
        <div>
            <span>
                <strong>排序方向:</strong>
                {{ direction === "asc" ? "昇冪" : "降冪" }}
            </span>
            <button type="button" (click)="direction = 'asc'">昇冪</button>
            <button type="button" (click)="direction = 'desc'">降冪</button>
        </div>
    </div>
    <ng-container *ngIf="tasks.length >= 1; then list; else empty"></ng-container>
    <app-task-detail
        *ngIf="selectedId !== undefined"
        [id]="selectedId"
    ></app-task-detail>
    <div class="footer">
        <div>代辦事項總數: {{ totalCount }}</div>
        <div>已完成個數: {{ finishCount }}</div>
        <div>剩下代辦事項個數: {{ totalCount - finishCount }}</div>
    </div>
</app-page-container>


<ng-template #task let-id let-totalCount="totalCount" let-finishCount="finishCount">
    <app-task 
    class="odd"
    [task]="task_1"
    (stateChange)="onSetState(task_1, $event)"
        >
    </app-task>
    <hr>
    <div>代辦事項總數: {{ totalCount }}</div>
    <div>已完成個數: {{ finishCount }}</div>
    <div>剩下代辦事項個數: {{ totalCount - finishCount }}</div>
</ng-template>

<ng-template #list>
    <app-task 
        appOverHeighLight
        *ngFor="
        let task of tasks | orderBy: 'id' : direction;
        let odd = odd; 
        trackBy: trackById
        "
        [class.odd]="odd"
        [task]="task"
        (stateChange)="onSetState(task, $event)"
        >
        </app-task>
</ng-template>

<ng-template #empty>
    <div class="data-empty">無代辦事項</div>
</ng-template>